@mixin flexAllCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexAllColumnCenter {
  @include flexColumn;
  align-items: center;
  justify-content: center;
}

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

@mixin flexSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexSpaceAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flexSpaceEvenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin gridGap($gap) {
  display: grid;
  gap: $gap;
}