@import "variables";
@import "normalize";
@import "mixins";
@import "actions";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kulim Park', sans-serif;
  color: $color-white;
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: $color-black;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $color-light;
    border: 1px solid $color-black;
    box-shadow: $box-shadow-2;
  }
}


body, html {
  background: #232222;
}

input {
  width: 100%;
  padding: 8px 10px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  border: 2px solid transparent;
  outline: $color-light;
  background: $color-white;
  color: $color-black;

  &::placeholder {
    color: $color-secondary;
    font-size: 0.875rem;
    font-weight: 275;
    line-height: 40px;
  }

  &:focus {
    border: 2px solid $color-light;
  }
}

main {
  min-height: 100vh;
  background: url("../img/main-background.jpg") no-repeat top center;
  background-size: cover;
}

.container {
  padding: 2% 0;
  max-width: 1200px;
  margin: auto;
  @include mobile {
    padding: 0;
  }
}

@import "components/weather-widget";