$color-white: #ffffff;
$color-black: #000000;
$color-light: #353570;
$color-dark-purple: #231037;
$color-purple: #2F2752;
$color-secondary: #A1A1A1;
$color-light-gray: #DBDBDB;
$color-grey: #BCBCBC;
$color-purple-opacity: rgba(47, 39, 82, 0.30);

$box-shadow-1: 0px 0px 5px 5px rgba(0, 0, 0, 0.50);
$box-shadow-2: 0px 0px 1px 1px rgba(0, 0, 0, 0.45);
$gradient-1: linear-gradient(180deg, #514E88 0%, #6D3464 100%);